aside.logo {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

aside.logo img {
    padding: 0px 15px;
    width: 100%;
}

.logoStyle{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.747);
    text-align: center;
    font-size: 100px;
}
@media(max-width: 576px) {
    aside.logo icon{
        width: 350px;
    }}